body {
  padding: 0;
  margin: 0;
}

.body {
  text-align: center;
}

span {
  font-weight: bold;
  text-decoration: underline;
}

.vote_form {
  padding: 1rem;
  margin-left: 15rem;
  margin-right: 15rem;
  width: auto;
}

.results_link {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
}
